body{
	font-family:
	"Trebushet MS",
	"Verdana",
	sans-serif;
	color: white;
	background-color: #595547;
}
h1, h2 {
	color:#9fc2f8;
}
h1{
	font-size: 40pt;
}
strong {
	color:#fff86b;
}
a, a:visited {
	text-decoration:none;
}
	a:hover {
	text-decoration:underline;
}
p:first-letter{
	ont-weight:bold;
	font-size:250%;
}